body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
 
}

#big-box {
  width: 500px;
  margin: 50px auto;
  border: 1px solid #ccc;                 
  padding: 20px;
  text-align: center;
  

}


h1 {
  margin-top: 0;
}

#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
  
}

#city-input {
  width: 200px;
  height: 30px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

#search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #044407;
}

#results {
  text-align: left;
  
}

#results h2 {
  margin-top: 30px;
  text-align: center;
  
  
}

#results div {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
   /* box-sizing: border-box;
  box-shadow: 2px 2px #ccc; */
  
  

}



#class1{
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

#class1 > div {
  flex: 1;
  margin: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

#results p {
  text-align: center;
}

